@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.haha{
  width: 20rem;
  height: 2.5rem;
  background-color: #fafafa;
}

body {
  margin: 0;
  background-color: #fafafa;

}
.formlogin{
  background: #fafafa;
  border-width: 0.5px;
  padding: 10px;

}
.inp::-webkit-input-placeholder{
  font-size: 11px;
}

.inse::-webkit-input-placeholder{
  font-size: 16px;
  font-weight: lighter;
}
.navbtn:hover{
  transition: all ease-out;
  transform: scale(1.25);
  transition-duration: 150ms;
  
}
